# Node.js
node_modules/
package-lock.json

# Environnements
.env
tts/tts-env/

# Fichiers temporaires
uploads/
output/
logs/
tmp/
queue.json
__pycache__/
*.pyc
*.wav
*.fit.mp4
.DS_Store

# Codespaces
.vscode/
.idea/
node_modules/
tts-env/
logs/
audio/
*.env
